* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(69, 69, 146);
  justify-items: center;
  align-content: center;
  margin: 0;
  width: 100%;
  height: 100px;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

* {
  box-sizing: border-box;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.jeu-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  min-height: 80vh; /* prend de la hauteur */
}

.status {
  margin-bottom: 30px; /* espace sous le statut */
  font-size: 18px;     /* tu peux aussi le styliser un peu */
  font-weight: bold;
}

/* Afficher les lignes de cases en tableau */
.ligne-tableau:after {
  clear: both;
  content: '';
  display: table;
}


